<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}" />
</head>
<body>
	<h1>新規追加画面</h1>
	<p th:text="${message}" />

    <form method="POST" action="/admin/character/add">
        キャラクター名<input type="text" name="name" th:value="${name}" />
        <br>
        コスト<input type="text" name="cost" th:value="${cost}" />
        <br>
        ランク
        <select name="rare">
			<option value="伝説レア">伝説レア</option>
			<option value="超激レア">超激レア</option>
			<option value="激レア">激レア</option>
			<option value="レア">レア</option>
			<option value="基本">基本</option>
			<option value="EX">EX</option>
		</select>
        <br>
        解説1<input type="text" name="commentary1" th:value="${commentary1}" />
        <br>
        解説2<input type="text" name="commentary2" th:value="${commentary2}" />
        <br>
        攻撃頻度<input type="text" name="attack_frequency" th:value="${attack_frequency}" />
        <br>
        再生産<input type="text" name="reproduction" th:value="${reproduction}" />
        <br>
        ノックバック数<input type="text" name="knockback" th:value="${knockback}" />
        <br>
        <input type="submit" value="submit" />
    </form>
    
</body>
</html>