<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}" />
</head>
<body>
	<h1>新規追加画面</h1>
	<p th:text="${message}" />

    <form method="POST" th:action="@{/admin/character/add}">
        キャラクター名<input type="text" name="name">
        <br>
        コスト<input type="text" name="cost">
        <br>
        ランク
        <select name="rare">
			<option
		      th:each="rarity : ${raritys}"
		      th:value="${rarity.key}"
		      th:text="${rarity.value}">
		    </option>
		</select>
        <br>
        解説1<textarea name="commentary1"></textarea>
        <br>
        解説2<textarea name="commentary2"></textarea>
        <br>
        攻撃頻度<input type="text" name="attack_frequency">
        <br>
        再生産<input type="text" name="reproduction">
        <br>
        ノックバック数<input type="text" name="knockback">
        <br>
        タイプ<input type="text" name="type">
        ナンバー<input type="text" name="number">
        <input type="submit" value="submit" />
    </form>
    
</body>
</html>