<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>編集画面</title>
</head>
<body>
	<h1>※編集画面※</h1>

	<form method="POST" action="/admin/character/update">
		キャラクター名<input type="text" name="name" th:value="${character.name}">
		<br>
        コスト<input type="text" name="cost" th:value="${character.cost}">
        <br>
        ランク
        <select name="rare" th:value="${character.rare}">
			<option value="legend">伝説レア</option>
			<option value="ultra">超激レア</option>
			<option value="super">激レア</option>
			<option value="rare">レア</option>
			<option value="EX">EX</option>
			<option value="normal">基本</option>
		</select>
		<br>
        解説1<textarea name="commentary1" th:value="${character.commentary1}"></textarea>
        <br>
        解説2<textarea name="commentary2" th:value="${character.commentary2}"></textarea>
        <br>
        攻撃頻度<input type="text" name="attack_frequency" th:value="${character.attack_frequency}">
        <br>
        再生産<input type="text" name="reproduction" th:value="${character.reproduction}"> 
        <br>
        ノックバック数<input type="text" name="knockback" th:value="${character.knockback}">
        <br>
		
		<button type="submit">編集</button>
	
	 </form>
</body>
</html>