<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <title th:text="${'にゃんこ大戦争|' + characterRarity + '一覧'}"></title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/5b69d558cb.js" crossorigin="anonymous"></script>
</head>
<body class="signed-out">
	<header class="header-1">
        <div class="header_inner">
            <div class="header-1_mypage" id="header-mypage">
                <form th:action="@{/logout}" method="post" name="myform">
					<a href="javascript:document.myform.submit()">ログアウト</a>
					<input type="hidden" />
				</form>
            </div>
        </div>
    </header>
    <div class="gameHeader">
        <div class="gameHeader_inner">
            <div class="gameHeader_game">
                <a class="gameHeader_game_inner" th:href="@{/admin}">
                    <div class="gameHeader_gamelogo">
                        <img th:src="@{/images/gameHeader_gamelogo.png}" alt="にゃんこ大戦争">
                    </div>
                    <p class="gameHeader_game_title">にゃんこ大戦争攻略</p>
                </a>
            </div>
            <div class="gameHeader_search">
                <form class="g-search" th:action="@{/admin/character/search}" accept-charset="UTF-8" method="get">
                    <input type="text" name="q" id="q" class="g-input g-input-text g-input-border g-search_input" placeholder="Search">
                    <button type="submit" class="g-btn g-search_submit g-search_submit-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="top_container">
        <div class="top-left top-shadow"></div>
    </div>
    <div class="gameNavText">
        <div class="gameNavText_inner">
            <ul class="gameNavText_list gameNavText_list-grow">
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" th:href="@{/admin/character/legend}">伝説レア</a>
                </li>
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" th:href="@{/admin/character/ultra}">超激レア</a>
                </li>
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" th:href="@{/admin/character/super}">激レア</a>
                </li>
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" th:href="@{/admin/character/rare}">レア</a>
                </li>
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" th:href="@{/admin/character/ex}">EX</a>
                </li>
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" th:href="@{/admin/character/normal}">基本キャラ</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-1">
        <div class="breadcrumb-1">
            <ul class="breadcrumb-1_list">
                <li>
                    <a th:href="@{/admin}">
                        <span>にゃんこ大戦争攻略</span>
                    </a>
                </li>
                <li>
                    <span th:text="${characterRarity + '一覧'}"></span>
                </li>
            </ul>
        </div>
    	<div class="l-3co1">
        	<div class="l-3co1Main">
            	<div class="l-3co1Main_center l-3co1Main_center-shadow">
                	<div class="archiveHeader">
                    	<h1 class="archiveHeader_title">【にゃんこ大戦争攻略】<span th:text="${characterRarity}"></span>一覧</h1>
                    	<div class="archiveHeader_author">
                        	<i class="fa-solid fa-pencil" style="margin-right: 5px;"></i>
                        	<span itemprop="author">RKNHB</span>
                    	</div>
                    	<div class="archiveHeader_info">
                        	<div class="archiveHeader_date">
                            	<i class="fa-regular fa-clock" style="margin-right: 5px;"></i>
                            	<span th:text="${'最終更新日 : ' + #dates.format(date, 'yyyy.MM.dd HH:mm')}"></span>
                        	</div>
                    	</div>
                	</div>
                	<div class="archive-style-wrapper">
                    	<h2 class="a-header-2"><span th:text="${characterRarity}"></span>一覧</h2>
                    	<div class="container">
							<div class="row row-cols-3" th:each="type : ${charaTypes}">
								<div class="col" th:each="character : ${type.characters}">
									<a th:href="@{/admin/character/detail/{id}(id=${character.id})}" class="a-link">
										<img th:src="@{/images/character_images/{image}(image=${character.image})}" class="a-img lazy lazy-non-square lazy-loaded" th:alt="${character.name} + 'の画像'" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true"><span th:text="${character.name}"></span>
									</a>
								</div>
								<th:block th:if="${#lists.size(type.characters) != 3}" th:each="j : ${#numbers.sequence(1, 3 - #lists.size(type.characters))}">
									<div class="col"><br>/</div>
								</th:block>
							</div>
						</div>
                	</div>
            	</div>
        	</div>
    	</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>