<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
	

    <div class="1_Main_center 1_main_center-shadow">
        <div class="archiveHeader">
            <h1 class="p-archiveHeader_title">【にゃんこ大戦争】ネコ</h1>
        </div>
    </div>
    <div class="archive-style-wrapper">
        <p class="a-paragraph">
            <b class="a-bold">ネコの進化元・進化先</b>
        </p>
        <table class="a-table a-table a-table" style>
            <tbody>
                <tr>
                    <th width="33%">第一形態</th>
                    <th width="33%">第二形態</th>
                    <th width="33%">第三形態</th>
                </tr>
                <tr>
                    <td class="center">
                        <b class="a-bold">
                            <img src="show.jpg" class="a-img lazy iazy-non-square lazy-loaded" alt="ネコの画像">
                            "ネコ"
                        </b>
                    </td>
                    <td class="center">
                        <a class="a-link" href="">
                            <img src="show (1).jpg" class="a-img lazy iazy-non-square lazy-loaded" alt="ネコビルダーの画像">
                            "ネコビルダー"
                        </a>
                    </td>
                    <td class="center">
                        <a class="a-link" href="">
                            <img src="show (2).jpg" class="a-img lazy iazy-non-square lazy-loaded" alt="ネコモヒカンの画像">
                            "ネコモヒカン"
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="a-paragraph"></p>
        <h2 class="a-header--2" id="h1_1">ネコの総合評価</h2>
        <h3 class="a-header--3" id="hm_1">評価</h3>
        <table class="a-table a-table a-table" style>
            <tbody>
                <tr>
                    <td class="center" rowspan="3" width="50%">
                        <b class="a-bold">
                            <img src="show.jpg" class="a-img lazy lazy-non-square lazy-loaded" alt="ネコの画像">
                            "ネコ"
                        </b>
                    </td>
                </tr>
                <tr>
                    <td>コスト： 75</td>
                </tr>
                <tr>
                    <td>
                        "ランク： "
                        <a class="a-link" href="character_list.html">基本</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 class="a-header--3" id="hm_2">解説</h3>
        <h4 class="a-header--4" id="hm_2">序盤から終盤まで幅広い場面で活躍する優秀な壁役</h4>
        <p class="a-paragraph">
            "宇宙生物か、霊的な存在か、すべてが謎に包まれた基本キャラ。進化すると腕やら髪やら生えるのに、攻撃手段には進歩がないにゃんこ。じつはネコの大量生産は作中屈指の防御手段。"
        </p>
        <h2 class="a-header--2" id="h1_7">ネコのステータス・攻撃対象・特性</h2>
        <h3 class="a-header--3" id="hm_9">ネコのステータス</h3>
        <table class="a-table a-table a-table" style>
            <tbody>
                <tr>
                    <th width="33%">攻撃頻度</th>
                    <th width="33%">再生産</th>
                    <th width="33%">ノックバック数</th>
                </tr>
                <td class="center"> 約1.23秒 </td>
                <td class="center"> 約2.00秒 </td>
                <td class="center"> 3回 </td>
            </tbody>
        </table>
    </div>
   
</body>
</html>