<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <title>にゃんこ大戦争|伝説レア一覧</title>
    <link rel="stylesheet" href="style.css" th:href="@{/style.css}">
    <script src="https://kit.fontawesome.com/5b69d558cb.js" crossorigin="anonymous"></script>
</head>

<body class="signed-out">
    <header class="header-1">
        <div class="header_inner">
            <div class="header-1_mypage" id="header-mypage">
                <a href="" rel="nofollow">Login</a>
            </div>
        </div>
    </header>
    <div class="gameHeader">
        <div class="gameHeader_inner">
            <div class="gameHeader_game">
                <a class="gameHeader_game_inner" href="">
                    <div class="gameHeader_gamelogo">
                        <img alt="にゃんこ大戦争" src="gameHeader_gamelogo.png">
                    </div>
                    <p class="gameHeader_game_title">にゃんこ大戦争攻略</p>
                </a>
            </div>
            <div class="gameHeader_search">
                <form class="g-search" action="" accept-charset="UTF-8" method="get">
                    <input type="text" name="q" id="q" class="g-input g-input-text g-input-border g-search_input" placeholder="Search">
                    <button type="submit" class="g-btn g-search_submit g-search_submit-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="top_container">
        <div class="top-left top-shadow"></div>
    </div>
    <div class="gameNavText">
        <div class="gameNavText_inner">
            <ul class="gameNavText_list gameNavText_list-grow">
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" href="">伝説レア</a>
                </li>
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" href="">超激レア</a>
                </li>
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" href="">激レア</a>
                </li>
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" href="">レア</a>
                </li>
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" href="">EX</a>
                </li>
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" href="">基本キャラ</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content-1">
        <div class="breadcrumb-1">
            <ul class="breadcrumb-1_list">
                <li>
                    <a href="">
                        <span>にゃんこ大戦争攻略</span>
                    </a>
                </li>
                <li>
                    <span>伝説レア一覧</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="l-3co1">
        <div class="l-3co1Main">
            <div class="l-3co1Main_center l-3co1Main_center-shadow">
                <div class="archiveHeader">
                    <h1 class="archiveHeader_title">【にゃんこ大戦争攻略】伝説レア一覧</h1>
                    <div class="archiveHeader_author">
                        <i class="fa-solid fa-pencil" style="margin-right: 5px;"></i>
                        <span itemprop="author">RKNHB</span>
                    </div>
                    <div class="archiveHeader_info">
                        <div class="archiveHeader_date">
                            <i class="fa-regular fa-clock" style="margin-right: 5px;"></i>
                            <time content="2023-04-05" datetime="2024-04-05T00:14" itemprop="dateMOdifield">最終更新日：XXXX.XX.XX XX:XX</time>
                        </div>
                    </div>
                </div>
                <div class="archive-style-wrapper">
                    <h2 class="a-header-2">伝説レア一覧</h2>
                    <table class="a-table a-table a-table" style>
                        <tbody>
                            <tr>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images\Miyamoto_musashi.png" class="a-img lazy lazy-non-square lazy-loaded" alt="宮本武蔵の画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">宮本武蔵
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Kenjin_Miyamoto_musashi.png" class="a-img lazy lazy-non-square lazy-loaded" alt="剣神・宮本武蔵の画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">剣神・宮本武蔵
                                    </a>
                                </td>
                                <td class="center">/</td>
                            </tr>
                            <tr>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Seikaichō_Jan'nudaruku.png" class="a-img lazy lazy-non-square lazy-loaded" alt="聖会長ジャンヌダルクの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">聖会長ジャンヌダルク
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Seikaichō_Jan'nudaruku_ps.png" class="a-img lazy lazy-non-square lazy-loaded" alt="聖会長ジャンヌダルクψの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">聖会長ジャンヌダルクψ
                                    </a>
                                </td>
                                <td class="center">/</td>
                            </tr>
                            <tr>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Amakiryū_Baberu.png" class="a-img lazy lazy-non-square lazy-loaded" alt="天城龍バベルの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">天城龍バベル
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Majōryū_Baberu.png" class="a-img lazy lazy-non-square lazy-loaded" alt="魔城龍バベルの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">魔城龍バベル
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/TenmaJōryū_Baberu.png" class="a-img lazy lazy-non-square lazy-loaded" alt="天魔城龍バベルの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">天魔城龍バベル
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Ushiwakamaru.png" class="a-img lazy lazy-non-square lazy-loaded" alt="うしわか丸の画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">うしわか丸
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Kyodaishinhei_Benkei.png" class="a-img lazy lazy-non-square lazy-loaded" alt="巨大神兵ベンケイの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">巨大神兵ベンケイ
                                    </a>
                                </td>
                                <td class="center">/</td>
                            </tr>
                            <tr>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Wonder_Momoko.png" class="a-img lazy lazy-non-square lazy-loaded" alt="ワンダーモモコの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">ワンダーモモコ
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Cutie_Momoko.png" class="a-img lazy lazy-non-square lazy-loaded" alt="キューティーモモコの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">キューティーモモコ
                                    </a>
                                </td>
                                <td class="center">/</td>
                            </tr>
                            <tr>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Legerga.png" class="a-img lazy lazy-non-square lazy-loaded" alt="レジェルガの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">レジェルガ
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Legeran_Pasaran.png" class="a-img lazy lazy-non-square lazy-loaded" alt="レジェランパサランの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">レジェランパサラン
                                    </a>
                                </td>
                                <td class="center">/</td>
                            </tr>
                            <tr>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Doomsdayweapon_Mu.png" class="a-img lazy lazy-non-square lazy-loaded" alt="終末兵器ムーの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">終末兵器ムー
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Topsecretresearchinstitute_Pandora.png" class="a-img lazy lazy-non-square lazy-loaded" alt="極秘研究機関パンドラの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">極秘研究機関パンドラ
                                    </a>
                                </td>
                                <td class="center">/</td>
                            </tr>
                            <tr>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Blackzeus.png" class="a-img lazy lazy-non-square lazy-loaded" alt="ブラックゼウスの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">ブラックゼウス
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Darknessmiko_Blackzeus.png" class="a-img lazy lazy-non-square lazy-loaded" alt="闇次神子ブラックゼウスの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">闇次神子ブラックゼウス
                                    </a>
                                </td>
                                <td class="center">/</td>
                            </tr>
                            <tr>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Phantomspirit_Lumina.png" class="a-img lazy lazy-non-square lazy-loaded" alt="幻の精霊ルミナの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">幻の精霊ルミナ
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Dreamspirit_Luminaria.png" class="a-img lazy lazy-non-square lazy-loaded" alt="夢幻の精霊ルミナリアの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">夢幻の精霊ルミナリア
                                    </a>
                                </td>
                                <td class="center">/</td>
                            </tr>
                            <tr>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Transcendentalscientist_Dr.Heven.png" class="a-img lazy lazy-non-square lazy-loaded" alt="超越科学者ヘヴン博士の画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">超越科学者ヘヴン博士
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Spacetimescientist_Dc.Abyss.png" class="a-img lazy lazy-non-square lazy-loaded" alt="時空科学者アビス博士の画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">時空科学者アビス博士
                                    </a>
                                </td>
                                <td class="center">/</td>
                            </tr>
                            <tr>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Creatorgod_Gaia.png" class="a-img lazy lazy-non-square lazy-loaded" alt="創造神ガイアの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">創造神ガイア
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/God_Gaia.png" class="a-img lazy lazy-non-square lazy-loaded" alt="ゴッドガイアの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">ゴッドガイア
                                    </a>
                                </td>
                                <td class="center">/</td>
                            </tr>
                            <tr>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Great_Deamon.png" class="a-img lazy lazy-non-square lazy-loaded" alt="豪鬼の画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">豪鬼
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Great_Deamon_CC.png" class="a-img lazy lazy-non-square lazy-loaded" alt="豪鬼CCの画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">豪鬼CC
                                    </a>
                                </td>
                                <td class="center">/</td>
                            </tr>
                            <tr>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Kyosaka_Nanho.png" class="a-img lazy lazy-non-square lazy-loaded" alt="京坂七穂の画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">京坂七穂
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Kyosaka_Nanho_Makoto.png" class="a-img lazy lazy-non-square lazy-loaded" alt="京坂七穂・真の画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">京坂七穂・真
                                    </a>
                                </td>
                                <td class="center">/</td>
                            </tr>
                            <tr>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Catprince.png" class="a-img lazy lazy-non-square lazy-loaded" alt="ネコ王子の画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">ネコ王子
                                    </a>
                                </td>
                                <td class="center">
                                    <a class="a-link" href="">
                                        <img src="character_images/Catking.png" class="a-img lazy lazy-non-square lazy-loaded" alt="ネコ国王の画像" width="60" style="height: 0; padding-bottom: calc(60px*46/60); padding-bottom: calc(min(100%,60px)*46/60);" data-loaded="true">ネコ国王
                                    </a>
                                </td>
                                <td class="center">/</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>