<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <title>【にゃんこ大戦争】伝説レア一覧</title>
    <link rel="stylesheet" href="nyanko2.css">
</head>

<body>
    <header class="header-1">
        <div class="header_inner">
            <div class="header_mypage" id="">
                <a href="">Login</a>
            </div>
        </div>
    </header>
    <div class="gameHeader">
        <div class="gameHeader_inner">
            <div class="gameHeader_game">
                <a class="gemeHeader_game_inner" href="">
                    <div class="gameHeader_game_logo">
                        <img alt="にゃんこ大戦争" src="nyanko1.png">
                    </div>
                    <p class="gameHeader_game_title">にゃんこ大戦争攻略</p>
                </a>
            </div>
            <div class="gameHeader_search">
                <form class="g-search" action="" accept-charset="UTF-8" method="get">
                    <input type="text" name="q" id="q" class="g-input g-input-text g-input-border g-search_input" placeholder="Search">
                    <button type="image" class="g-btn g-search_submit"><img src="search_mushimegane.png"></button>
                </form>
            </div>
        </div>
    </div>
    <div class="gameNavText">
        <div class="gameNavText_inner">
            <ul class="gameNavText_list gameNavText_list-grow">
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" href="file:///C:/Users/rknhb/workspace/nyanko/nyanko2.html">伝説レア</a>
                </li>
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" href="">超激レア</a>
                </li>
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" href="">激レア</a>
                </li>
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" href="">レア</a>
                </li>
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" href="">EX</a>
                </li>
                <li class="gameNavText_list_item">
                    <a class="gameNavText_list_item_link" href="">基本キャラ</a>
                </li>
            </ul>
        </div>

        <div class="abcde">
            <ul>
                <li><a th:href="@{/character/detail/1}">キャラ画像</a></li>
                <li>キャラ名</li>
            </ul>
            <ul>
                <li><a th:href="@{/character/detail/2}">キャラ画像</a></li>
                <li>キャラ名</li>
            </ul>
            <ul>
                <li><a th:href="@{/character/detail/3}">キャラ画像</a></li>
                <li>キャラ名</li>
            </ul>
            
            
        </div>
</body>
</html>