* {
    box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, p, a, img, b, i, ul, li, form, table, tbody, tr, th, td, header, time {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
}

body, button, input {
    font-family: "Segoe UI", Roboto, "Hiragino Sans", "Noto Sans CJK JP", "Original Yu Gothic", YuGothic, "Yu Gothic", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji", -apple-system, BlinkMacSystemFont, system-ui;
}

body {
    background-color: #696969;
    word-break: break-all;
    overflow-x: hidden;
    color: #404040;
    margin: 0;
}

b {
    font-weight: bold;
}

.header-1 {
    background-color: #808080;
    width: 100%;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    clear: both;
    border-top: 5px solid #ff7f50;
}

.header_inner {
    margin: 0 auto;
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header-1_mypage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100px;
}

.header-1_mypage a {
    font-size: 1.2rem;
    line-height: 1.2rem;
    display: block;
    padding: 0 10px;
    color: rgba(255,255,255,0.75);
    font-weight: bold;
}

a {
    color: #ff4500;
    text-decoration: none;
}

a img {
    border: none;
}

.g-btn {
    box-sizing: border-box;
    display: inline-block;
    border: none;
    border-radius: 2px;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    text-decoration: none !important;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
}

.gameHeader {
    box-shadow: rgb(0 0 0 / 20%) 0 1px 1px 0;
    background-color: #a9a9a9;
    width: 100%;
    height: 56px;
}

.gameHeader_inner {
    display: table;
    margin: 0 auto;
    width: 1000px;
    height: 56px;
}

/*application...64fb.css:58*/
.gameHeader_game {
    display: table-cell;
    vertical-align: middle;
    width: 700px;
}

/*application...64fb.css:58*/
.gameHeader_game_inner {
    display: table;
}

/*application...64fb.css:58*/
.gameHeader_gamelogo {
    display: table-cell;
}

/*application...64fb.css:58*/
.gameHeader_gamelogo img {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}

/*application...64fb.css:58*/
.gameHeader_game_title {
    font-size: 1.6rem;
    line-height: 3.1rem;
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
    color: #313131;
    font-weight: bold;
}

/*application...64fb.css:58*/
.gameHeader_search {
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    width: 300px;
}

/*application...64fb.css:58*/
.g-search {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}

/*application...64fb.css:58*/
.g-input {
    font-size: 1.4rem;
    line-height: 2rem;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-appearance: none;
}

/*application...64fb.css:58*/
.g-input-border {
    border: 2px solid #37474f;
}

/*application...64fb.css:58*/
.g-input-text {
    padding: 9px 4px 8px 9px;
    height: 45px;
    background-color: #a9a9a9;
}

/*application...64fb.css:58*/
.g-search_input {
    display: block;
    width: 100%;
    flex-shrink: 1;
}

/*application...64fb.css:58*/
.g-search_submit {
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 8px;
    padding: 0 15px;
    height: 45px;
    width: auto;
    float: none;
    font-size: 14px;
    color: #313131;
    background-color: #ff6347;
}

/*application...64fb.css:58*/
.g-search_submit-icon {
    width: 45px;
    padding: 0;
    font-size: 32px;
}

/*application...5123.css:42*/
.fa-solid {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/*application...91b1.css:50*/
.top_container {
    position: relative;
    margin: 0 auto;
    width: 1000px;
}

/*application...91b1.css:50*/
.top-left {
    position: absolute;
    top: 0;
}

/*application...91b1.css:58*/
.gameEyecatch {
    width: 1000px;
    height: auto;
    margin: 10px auto 0;
}

/*application...91b1.css:58*/
.gameEyecatch img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
}

/*application...91b1.css:58*/
.gameNavText {
    box-shadow: rgba(0,0,0,0.2) 0 1px 1px 0;
    position: relative;
    width: 100%;
    border-top: 1px solid #dde4e6;
    background-color: #a9a9a9;
    margin: 0 0 10px;
}

/*application...91b1.css:58*/
.gameNavText-top {
    border-top: none;
    background-color: transparent;
    box-shadow: none;
}

/*application...91b1.css:58*/
.gameNavText_inner {
    width: 1000px;
    margin: 0 auto;
    background-color: #a9a9a9;
}

/*application...91b1.css:58*/
.gameNavText_inner-top {
    box-shadow: rgb(0 0 0 / 20%) 0 1px 1px 0;
}

/*application...91b1.css:58*/
.gameNavText_list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    height: 45px;
    overflow: hidden;
}

/*application...91b1.css:50*/
ul {
    list-style: none;
}

/*application...91b1.css:58*/
.gameNavText_list_item:first-child {
    background: none;
}

/*application...91b1.css:58*/
.gameNavText_list-grow .gameNavText_list_item {
    flex-grow: 1;
}

/*application...91b1.css:58*/
.gameNavText_list_item {
    font-size: 1.3rem;
    line-height: 3.1rem;
    font-weight: bold;
    text-align: center;
}

/*application...91b1.css:58*/
.gameNavText_list-grow .gameNavText_list_item_link {
    padding: 0 7px;
}

/*application...91b1.css:58*/
.gameNavText_list_item_link {
    box-sizing: border-box;
    display: block;
    padding: 0 30px;
    height: 45px;
    line-height: 45px;
    border-color: #ff6347;
    border-bottom-style: solid;
    color: #313131;
}

/*application...91b1.css:58*/
.gameNavText_list_item_link:hover {
    border-bottom-width: 3px;
    text-decoration: none;
    color: #313131;
}

/*application...bc80.css:50*/
.content-1 {
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 10px;
}

/*application...bc80.css:50*/
.content-1::after {
    content: "";
    display: table;
    clear: both;
}

/*application...bc80.css:50*/
.breadcrumb-1 {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    margin: 14px 0 10px;
}

/*application...bc80.css:50*/
.breadcrumb-1_list {
    width: 100%;
    white-space: nowrap;
}

/*application...bc80.css:50*/
.breadcrumb-1_list li {
    font-size: 1.2rem;
    line-height: 2rem;
    position: relative;
    overflow: hidden;
    display: inline-block;
    padding: 0 20px 0 0;
    color: #90a4ae;
    font-weight: bold;
}

/*application...bc80.css:50*/
.breadcrumb-1_list li:not(:last-child)::after {
    font-size: 1.2rem;
    line-height: 2rem;
    position: absolute;
    top: 0;
    right: 2px;
    display: inline;
    content: "ã€‰";
    color: #90a4ae;
}

/*application...bc80.css:50*/
.breadcrumb-1_list li a {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: bold;
}

/*application...bc80.css:50*/
.breadcrumb-1_list li span {
    vertical-align: top;
}

/*application...bc64f7.css:50*/
.l-3co1 {
    width: 1000px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto 10px;
}

/*application...bc64f7.css:50*/
.l-3co1::after {
    content: "";
    display: table;
    clear: both;
}

/*application...bc64f7.css:50*/
.l-3co1Main {
    box-sizing: border-box;
    float: left;
    width: 690px;
    margin-right: 10px;
}

/*application...bc64f7.css:50*/
.l-3co1Main::after {
    content: "";
    display: table;
    clear: both;
}

/*application...bc64f7.css:50*/
.l-3co1Main_center {
    box-sizing: border-box;
    float: right;
    width: 460px;
    margin-left: 10px;
    background-color: #a9a9a9;
    border-top: 1px solid #dde4e6;
}

/*application...bc64f7.css:50*/
.l-3co1Main_center-shadow {
    box-shadow: rgba(0,0,0,0.2) 0 1px 1px 0;
}

/*application...bc64f7.css:50*/
.l-3co1Main_center::after {
    content: "";
    display: table;
    clear: both;
}

/*application...bc64f7.css:58*/
.archiveHeader {
    padding: 15px 10px;
}

/*application...bc64f7.css:58*/
.archiveHeader_title {
    font-size: 2.2rem;
    line-height: 3.6rem;
    font-weight: bold;
    color: #313131;
}

/*application...bc64f7.css:58*/
.archiveHeader_author {
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 10px 0 0;
    text-align: left;
    color: #808080;
}

/*application...bc64f7.css:58*/
.archiveHeader_info {
    display: table;
    width: 100%;
    margin: 4px 0;
}

/*application...bc64f7.css:58*/
.archiveHeader_date {
    font-size: 1.3rem;
    line-height: 2rem;
    display: table-cell;
    vertical-align: bottom;
    color: #808080;
}

/*application...b8c7.css:58*/
.archive-style-wrapper {
    color: #313131;
    padding: 0 10px;
    display: block;
    word-break: break-all;
    background-color: #a9a9a9;
}

.container {
	font-size: 1.15rem;
	line-height: 2.6rem;
	margin: 0 0 15px;
	border-bottom: 1px solid #d1d8e2;
	width: 100%;
	table-layout: auto;
	box-shadow: rgba(0,0,0,0.05) 0 1px 1px 0;
	border-collapse: collapse;
	border-spacing: 0;
}

.col {
	text-align: center;
	border: 1px #d1d8e2 solid;
	padding: 8px 6px 7px;
	font-weight: normal;
	vertical-align: middle;
}

.a-link {
    font-size: 1.2rem;
    line-height: 2rem;
    color: #ff4500;
    font-weight: bolder;
}

.col .a-img {
	margin: 3px auto;
}

.lazy.lazy-non-square.lazy-loaded {
    height: auto !important;
    padding-bottom: 0 !important;
}

.a-img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 15px;
}

.a-paragraph {
    font-size: 1.3rem;
    line-height: 2.4rem;
    position: relative;
    margin: 0 0 12px;
    color: #313131;
}

.a-bold {
    font-weight: bold;
}

.ad-wrapper {
    width: 100%;
    text-align: center;
}

.a-header-2 {
    font-size: 1.6rem;
    line-height: 2.6rem;
    display: block;
    margin: 30px 0 20px;
    padding: 10px 10px;
    font-weight: bold;
    border-radius: 0 10px 0 0;
    background-color: #313131;
    border-bottom: 4px solid #ff7f50;
    color: #90a4ae;
}

.a-header-3 {
    font-size: 1.5rem;
    line-height: 2.1rem;
    display: block;
    margin: 20px 0;
    padding: 5px;
    font-weight: bold;
    color: #313131;
    border-left: 4px solid #313131;
    border-bottom: 2px solid #313131;
    -o-border-image: linear-gradient(to right, #313131 0% 50%, transparent 100%);
    border-image: linear-gradient(to right, #313131 0% 50%, transparent 100%);
    border-image-slice: 1;
}

.a-header-4 {
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 0 10px 0 20px;
    background-image: url('checkMark.png');
    background-position: left 0 top 2px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    position: relative;
    margin: 15px 0;
    font-weight: bold;
    color: #313131;
}

.signBase {
    padding: 50px;
    width: 460px;
    margin: 20px auto 0;
    background-color: #a9a9a9;
    box-shadow: rgba(0,0,0,0.1) 0 2px 3px;
}

.signBase_header {
    margin: 0 0 50px;
}

.signBase_header_title {
    font-size: 1.7rem;
    line-height: 1.7rem;
    margin: 0 0 6px;
    font-weight: bold;
}

.sessions_form {
    margin: 0 0 30px;
}

.signBase_inputForm {
    font-size: 1.5rem;
    padding: 10px 12px;
    border: solid 1px #d1d8e2;
    line-height: 1.7;
    width: 100%;
    background: #a9a9a9;
    -webkit-appearance: none;
    border-radius: 0;
    margin: 0;
}

.signBase_inputForm-overlap {
    margin: -1px 0 0 !important;
}

.signBase_inputForm:focus {
    background: #a9a9a9;
    outline: 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.15)
}

.sessions_forget_password {
    font-size: 1.1rem;
    line-height: 1.1rem;
    margin: 10px 0;
    text-align: right;
}

.g-btn-md {
    font-size: 13px;
    line-height: 19px;
    padding: 10px 8px 11px;
    height: 40px;
}

.g-btn-blue {
    color: #808080;
    background-color: #ff6347;
}

.g-btn-block {
    width: 100%;
    display: block;
}

.g-btn-shadow {
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.alert {
	margin-bottom: 0px;
	position: fixed;
	width: 100%;
	z-index: 10000;
}